{% extends "layout.html" %}

{% block content %}
	<div id="body">
		<ul>
			<li>
				<a href="hairstyle.html"><img src="{{ url_for('static', filename='img/hairstyle17.jpg') }}" alt=""></a>
				<b>best hairstylists</b>
				<p>
					Our website templates are created with inspiration, checked for quality and originality and meticulously sliced and coded. What’s more, they’re absolutely free!
				</p>
			</li>
			<li>
				<a href="hairstyle.html"><img src="{{ url_for('static', filename='img/hairstyle18.jpg') }}" alt=""></a>
				<b>featured hairstyle</b>
				<p>
					Our website templates are created with inspiration, checked for quality and originality and meticulously sliced and coded. What’s more, they’re absolutely free!
				</p>
			</li>
			<li>
				<a href="hairstyle.html"><img src="{{ url_for('static', filename='img/hairstyle19.jpg') }}" alt=""></a>
				<b>hair care</b>
				<p>
					Our website templates are created with inspiration, checked for quality and originality and meticulously sliced and coded. What’s more, they’re absolutely free!
				</p>
			</li>
			<li>
				<a href="hairstyle.html"><img src="{{ url_for('static', filename='img/hairstyle20.jpg') }}" alt=""></a>
				<b>we "hair" you</b>
				<p>
					Our website templates are created with inspiration, checked for quality and originality and meticulously sliced and coded. What’s more, they’re absolutely free!
				</p>
			</li>
		</ul>
	</div>

{% endblock %}